<!DOCTYPE html>
<html>
<head>
	<title>Purchase Complete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">

</head>
<body>
    <div class="header">
        <div class="logo">Steam</div>
        <div class="search-box">
            <input type="text" placeholder="Search games" id="search-input">
            <button onclick="search()"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="navigation">
        <a href="/products">Home</a>
        <a href="/products/filtered">Deals</a>
        <a href="/products/high-rating">Popular</a>
        <a href="/cart">Cart</a>
        <a href="/wishlist">Wish List</a>
        <a href="/purchases/all-purchases">Purchases</a>
        <a href="/logout">Logout</a>
    </div>
	<h1>Your Purchases</h1>
	{% if bill %}
    {% for b in len(bill) %}
    <div class="game-details">
    <div class="item">
        <div class="game-name">{{b}}</div>
        <div class="game-price">
            <span class="discounted-price">Total price: ${{ bill[b].totalPrice}}<br></span>
            <span class="discounted-price">Total price: ${{ bill[b].purchaseTime}}<br></span>
        </div>
        <input type="button" value="View Purchase Details" onclick = "viewPurchase({{bill[b].billId}})"/>

        </div>
    </div>
    </div>
    {% endfor %}
	{% else %}
		<p style="color:white">No items purchased.</p>
	{% endif %}
</body>
</html>

<script>
    function search() {
      const query = document.getElementById('search-input').value;
      const url = `/products?search=${query}`;
      window.location.href = url;
    }
    function viewPurchase(billId) {
      const url = '/purchases/view_purchase?bill_id=${index}'
      window.location.href = url;
    }
</script>




