<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">

</head>
<body>
    <div class="header">
        <div class="logo">Steam</div>
        <div class="search-box">
            <input type="text" placeholder="Search games" id="search-input">
            <button onclick="search()"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="navigation">
        <a href="/products">Home</a>
        <a href="/products/filtered">Deals</a>
        <a href="/products/high-rating">Popular</a>
        <a href="/cart">Cart</a>
        <a href="/wishlist">Wish List</a>
        <a href="/purchases/all-purchases">Purchases</a>
        <a href="/logout">Logout</a>
    </div>
	<h1>Your Cart</h1>
	{% if items %}
    {% for item in items %}
    <div class="game-details">
    <div class="item">
        <div class="game-name">{{item.name}}</div>
        <div class="game-price">
            <span class="original-price" style="text-decoration: line-through;">${{ item.price }}</span>
            <span class="discounted-price">${{ (item.price * (1 - item.discount / 100)) | round(2) }}<br></span>
            <span class="discount">{{ item.discount }}% off</span>

        </div>
        <div class="game-buttons">
            <a href="/cart/subtract?id={{ item.id }}">- </a> 
            <span class = 'cart-count' margin='20px'> {{item.count}} </span> 
            <a href="/cart/add?id={{ item.id }}"> + </a>

        </div>
        <div class="game-buttons"> 
            <a href="/cart/delete?id={{ item.id  }}"> Delete </a>
        </div>
    </div>
    </div>
    {% endfor %}
    <div class="game-buttons">
        <a href='/purchases/complete-purchase'> Buy All</a>
    </div>
	{% else %}
		<p style="color:white">Your cart is empty.</p>
	{% endif %}
    
</body>
</html>

<script>
    function search() {
      const query = document.getElementById('search-input').value;
      const url = `/products?search=${query}`;
      window.location.href = url;
    }
</script>