<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">

</head>
<body>
	<h1>Your Cart</h1>
	{% if items %}
    {% for item in items %}
    <div class="game-details">
    <div class="item">
        <div class="game-name">{{item.name}}</div>
        <div class="game-price">
            <span class="original-price" style="text-decoration: line-through;">${{ item.price }}</span>
            <span class="discounted-price">${{ (item.price * (1 - item.discount / 100)) | round(2) }}<br></span>
            <span class="discount">{{ item.discount }}% off</span>

        </div>
        <div class="game-buttons">
            <a href="/cart/subtract?id={{ request.args.get('id') }}">- </a> 
            <span class = 'cart-count' margin='20px'> {{item.count}} </span> 
            <a href="/cart/add?id={{ request.args.get('id') }}"> + </a>

        </div>
        <div class="game-buttons"> 
            <a href="/cart/delete?id ={{ request.args.get('id') }}"> Delete </a>
        </div>
    </div>
    </div>
    {% endfor %}
	{% else %}
		<p>Your cart is empty.</p>
	{% endif %}
</body>
</html>