<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<style>
    .product-row {display: flex;
                flex-direction: row;}
    .product {margin: 10px;}
</style>
<body>
    <h1>Products</h1>
    <form action="/products" method="GET">
        <input name="search">
        <input type="submit" value = "Search operation: search games">
    </form>
    <form action = "/products/filtered" method="GET">
        <input type = "submit" value = "Stage 3 Query 1: show games below average price" /> 
    </form>
    <form action = '/products/high-rating' method = "GET">
        <input type = "submit" value = "Stage 3 Query 2: show highly rated games that are in stock" />
    </form>
    {% if current_page > 1 %}
    <a href="?page={{ current_page - 1 }}&search={{ search }}">Previous</a>
    {% endif %}
    {% if products|length >= 20 %}
    <a href="?page={{ current_page + 1 }}&search={{ search }}">Next</a>
    {% endif %}
    <ul>
        {% for products_chunk in products|batch(2) %}
        <div class="product-row" >
            {% for product in products_chunk %}
            <div class="product">
                <img src="{{product.imageLink}}">
                <div class="game-name">{{product.name}}</div>
                <div class="game-price">${{product.price}}</div>
                <div class="game-rating">
                    <span>Rating: {{product.rating}}</span>
                </div>
                <div class="game-buttons">
                    <a href="/product?id={{product.id}}">Read Operation: View Details</a>
                    <a href="/products?id = {{product.id}}">Create Operation: Add to cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </ul>
</body>
</html>
