<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
</head>
<style>
    .product-row {display: flex;
                flex-direction: row;}
    .product {margin: 10px;}
</style>
<body> 
    <div class="header">
        <div class="logo">Steam</div>
        <div class="search-box">
            <input type="text" placeholder="Search games" id="search-input">
            <button onclick="search()"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="navigation">
        <a href="/products">Home</a>
        <a href="/products/filtered">Deals</a>
        <!-- <a href="#">New releases</a> -->
        <a href="/products/high-rating">Popular</a>
        <a href="/cart">Cart</a>
        <a href="/logout">Logout</a>
    </div>
    <h1 style="color:white;">Products</h1>
    <!-- <form action="/products" method="GET">
        <input name="search">
        <input type="submit" value = "Search operation: search games">
    </form> -->
    <!-- <form action = "/products/filtered" method="GET">
        <input type = "submit" value = "Stage 3 Query 1: show games below average price" /> 
    </form>
    <form action = '/products/high-rating' method = "GET">
        <input type = "submit" value = "Stage 3 Query 2: show highly rated games that are in stock" />
    </form> -->
    <div class="search-box">
        <select id = "search_genre">
            <option value="Action">Action</option>
            <option value="Free-to-play">Free-to-play</option>
            <option value="Strategy">Strategy</option>
            <option value="Adventure">Adventure</option>
            <option value="Indie">Indie</option>
            <option value="RPG">RPG</option>
            <option value="Casual">Casual</option>
            <option value="Simulation">Simulation</option>
            <option value="Racing">Racing</option>
            <option value="MMO">MMO</option>
          </select>
        <button onclick="search_genre()"><i class="fas fa-search"></i>Search</button>
    </div>
    <div class="game-buttons">
        {% if current_page > 1 %}
    <a href="?page={{ current_page - 1 }}&search={{ search }}">Previous</a>
    {% endif %}
    {% if products|length >= 20 %}
    <a href="?page={{ current_page + 1 }}&search={{ search }}">Next</a>
    {% endif %}
    </div>
    <ul>
        {% for products_chunk in products|batch(2) %}
        <div class="product-row" >
            {% for product in products_chunk %}
            <div class="product">
                <img class = "game-image" src="{{product.imageLink}}">
                <div class="game-name">{{product.name}}</div>
                <div class="game-price">
                    <span class="original-price" style="text-decoration: line-through;">${{ product.price }}</span>
                    <span class="discounted-price">${{ (product.price * (1 - product.discount / 100)) | round(2) }}<br></span>
                    <span class="discount">{{ product.discount }}% off</span>

                </div>
                <div class="game-rating">
                    <span>Rating: {{product.rating}}</span>
                </div>
                <div class="game-buttons">
                    <a href="/product?id={{product.id}}">Read Operation: View Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </ul>
</body>
</html>

<script>
    function search() {
      const query = document.getElementById('search-input').value;
      const url = `/products?search=${query}`;
      window.location.href = url;
    }
    function search_genre() {
      const query = document.getElementById('search_genre').value;
      const url = `/products?search_genre=${query}`;
      window.location.href = url;
    }
</script>