<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<style>
    .product-row {display: flex;
                flex-direction: row;}
    .product {margin: 10px;}
</style>
<body>
    <h1>Products</h1>
    <form action="/products" method="POST">
        <input name="search">
        <input type="submit">
    </form>
    <input type="button" name="next" value="next" />
    <input type="button" name="last" value="last" />

    <ul>
        {% for products_chunk in products|batch(2) %}
        <div class="product-row" >
            {% for product in products_chunk %}
            <div class="product">
                <img src="{{product.imageLink}}">
                <div class="game-name">{{product.name}}</div>
                <div class="game-price">{{product.price}}</div>
                <div class="game-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>{{product.rating}}</span>
                </div>
                <div class="game-buttons">
                    <a href="/product?id={{product.id}}">View Details</a>
                    <a href="#">Add to cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </ul>
</body>
</html>
