<!DOCTYPE html>
<html>

<head>
    <title>Steam single product</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-AJgq3OXhL9fVplnLKJyLOjE/mYyoFy34x1MckrcMNFBL/LmeLQLom9ThASBythMbDDU5hQsz72w6UeR6JxMN6g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='single_product.css') }}">

</head>

<body>
    <div class="header">
        <div class="logo">Steam</div>
        <div class="search-box">
            <input type="text" placeholder="Search games" id="search-input">
            <button onclick="search()"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="navigation">
            <a href="/products">Home</a>
            <a href="/products/filtered">Deals</a>
            <a href="/products/high-rating">Popular</a>
            <a href="/cart">Cart</a>
            <a href="/wishlist">Wish List</a>
            <a href="/purchases/all-purchases">Purchases</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="game-details">
            <div class="game-image">
                <img src="{{game_info.imageLink}}">
            </div>
            <div class="game-info">
                <div class="game-name">{{ game_info.name }}</div>
                <div class="game-price">
                    <span class="original-price" style="text-decoration: line-through;">${{ price_info.price }}</span>
                    <span class="discounted-price">${{ (price_info.price * (1 - price_info.discount / 100)) | round(2) }}<br></span>
                    <span class="discount">{{ price_info.discount }}% off</span>

                </div>
                <div class="game-requiredAge">Minimum required age : {{ game_info.requiredAge }}</div>
                <div class="game-description">Game description : {{ game_info.description }}</div>

                <h3> Cart </h3>
                <div class="game-buttons">
                    <a href="/product/subtract?id={{ request.args.get('id') }}">- </a> 
                    <span margin='20px'> {{count}} </span> 
                    <a href="/product/add?id={{ request.args.get('id') }}"> + </a>

                </div>
                <div class="game-buttons">
                    <a href="/wishlist/add?id={{ request.args.get('id') }}"> Add to Wishlist </a> 
                </div>
            </div>
        </div>
        {%for review in reviews%}
        <div class="game-details">
            <div>
            <span class="game-description">Reviewer: {{review.name}}<br></span>
            <span class="game-description">Rating: {{review.rating}}<br></span>
            <span class="game-description">Review Text: {{review.reviewText}}<br></span>
            {%if review.verifiedPurchase == 1%}
            <span class="game-description">Verified Purchase: Yes<br></span>
            {%else%}
            <span class="game-description">Verified Purchase: No<br></span>
            {%endif%}
            <span class="game-description" id = "count{{review.uniqueId}}">Upvotes: {{review.upvotes}} <br> </span>
            </div>
            
        </div>
        <input class = "game-buttons" type="button" id="upvote{{review.uniqueId}}" value="Upvote" onclick="upvote('{{review.uniqueId}}', '{{review.productId}}')"/>
        {% endfor %}
    </div>
</body>

</html>

<script>
    function search() {
      const query = document.getElementById('search-input').value;
      const url = `/products?search=${query}`;
      window.location.href = url;
    }
    function upvote(index, product) {
      button = document.getElementById("upvote" + index);
      const query = parseInt(document.getElementById('count' + index).innerHTML.substring(9)) + 1;
      const url = `/product?id=${product}&upvote=${query}&uniqueId=${index}`;
      window.location.href = url;
    }
</script>