body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #171a21;
}
.product {
    width: 35%;
    height: 520px;
    padding-left: 7.5%;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #1b2838;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #2a475e;
    border-radius: 5px;
    padding: 5px 10px;
    width: 400px;
    margin-right: 20px;
}

.search-box input[type="text"] {
    border: none;
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
    outline: none;
    background-color: #2a475e;
    color: #fff;
}

.search-box button {
    background-color: #1b2838;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.navigation {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.navigation a {
    color: #bbb;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}

.navigation a:hover {
    text-decoration: underline;
}

.game-details {
    display: flex;
    margin-top: 20px;
    background-color: #2a475e;
    padding: 20px;
    border-radius: 5px;
}

.game-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-image {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999;
    margin-bottom: 10px;
}

.game-info {
    flex: 1;
    margin-left: 20px;
    background-color: #2a475e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #999;
}

.game-name {
    font-size: 1.75rem;
    font-weight: bold;
    color: #66c0f4;
    margin-bottom: 1rem;
}

.game-price {
    font-size: 28px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
}
.original-price{
    font-size: 22px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
}

.discount{
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
}
.game-requiredAge {
    font-size: 1.2rem;
    font-weight: 600;
    color: #0e0e0e;
    margin-bottom: 1rem;
}

.game-discount {
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 20px;
}

.game-discount span {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
    font-size: 16px;
}

.game-rating {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    }
    
    .game-rating i {
        font-size: 24px;
        color: #f1c40f;
        margin-right: 10px;
    }
    
    .game-rating span {
        font-size: 18px;
        color: #999;
        margin-right: 20px;
    }
    
    .game-description {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.8;
        color: #d6d7d8;
        margin-bottom: 1rem;
    }
    .game-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .game-buttons a {
        background-color: #1b2838;
        color: #fff;
        border: none;
        border-radius: 3px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        margin-right: 5px;
        margin: 10px;
        width: 48%;
        text-align: center;
    }
    
    .game-buttons a:hover {
        background-color: #0e1621;
    }
    
    .game-buttons a:last-child {
        background-color: #e74c3c;
    }
    
    .game-buttons a:last-child:hover {
        background-color: #c0392b;
    }