<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<style>
    .product-row {display: flex;
                flex-direction: row;}
    .product {margin: 10px;}
</style>
<body>
    <h1>Products</h1>
    <ul>
        {% for products_chunk in products|batch(3) %}
        <div class="product-row" >
            {% for product in products_chunk %}
            <div class="product">
                <img src="{{product.imageLink}}">
                <div class="game-name">{{product.name}}</div>
                <div class="game-price">[price from SQL]</div>
                <div class="game-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>[rating from SQL]</span>
                </div>
                <div class="game-buttons">
                    <a href="#">View Details</a>
                    <a href="#">Add to cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </ul>
</body>
</html>
